# Auto detect text files and perform LF normalization
* text=auto

# Export ignore for lean releases
/tests export-ignore
/.github export-ignore
/phpunit.xml.dist export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
*.md export-ignore
!README.md
